body {
    font-family: 'Lexend', sans-serif;
    background-color: #F3EAC2;
    color: #5D4037;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #FFF5E1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.header-img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    border: 2px solid #8D6E63;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background: #D7A86E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background: #C38154;
}

.letter-text {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    background: #FFFAF0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.spotify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.spotify-container iframe {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}
